general {
        interval = 5
        colors=true
}

order += "load"
#order += "cpu_temperature 0"
order += "memory"
order += "disk /"
order += "wireless _first_"
order+ += "path_exists VPN"
order += "battery 0"
order += "tztime local"


load {
        format = "📊 %1min:%5min:%15min"
}

cpu_temperature 0 {
        format = "%degrees °C"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon5/temp1_input"
}

memory {
        format = "M: %used/%total"
}

wireless _first_ {
        format_up = "🛜 %ip"
        format_down = "🛜 down"
}

disk "/" {
        format = "💽 %used/%total"
}

battery 0 {
        format = "%status %percentage %remaining %emptytime"
        format_down = "No battery"
        status_chr = "⚡ CHR"
        status_bat = "🔋 BAT"
        status_unk = "? UNK"
        status_full = "🔌"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}


tztime local {
        format = "%Y-%m-%d %H:%M:%S"
}

path_exists VPN {
        # path exists when a VPN tunnel launched by nmcli/nm-applet is active
        path = "/proc/sys/net/ipv4/conf/proton0"
}
